@model List<MartianRobotWeb.Models.RobotModel>

@{
    ViewBag.Title = "SubmitPlateau";
    Layout = "~/Views/Shared/_siteMaster.cshtml";

}

<h2>SubmitPlateau</h2>

<form runat="server" action="/Robot/AddRobot">
    <table>
        <tr>
            <td>Enter robot position</td>
            <td>@Html.TextBox("xydirection")</td>
        </tr>
        <tr>
            <td>Enter Movements</td>
            <td>@Html.TextBox("movements")</td>
        </tr>
        <tr><td><input type="submit" title="Submit" value="Add Robot" /></td></tr>
    </table>
    <p>Alternatively, if you have added enough robots, please <a href="/robot/StartExploration"> start the exploration</a>.</p>

    <h2>Current Robots</h2>
    <table>
        <tr>
            <th>X</th>
            <th>Y</th>
            <th>Direction</th>
            <th>Movements</th>
        </tr>
        @foreach (var result in ViewData.Model)
        {
            <tr>
                <td> @result.Robot.GetCurrentPosition().X.ToString()</td>
                <td> @result.Robot.GetCurrentPosition().Y.ToString()</td>
                <td> @result.Robot.GetCurrentPosition().Direction.ToString()</td>
                <td> @result.Movements</td>
            </tr>
        }

    </table>
   
</form>